<!-- <link href="favicon.ico" rel="shortcut icon">-->
<!--<form action="login" method="post">
username:<br>
<input type="text" name="username" >
<br>
password:<br>
<input type="password" name="password" >
<br><br>
{{hint}}
{% csrf_token %}
<br>
<input type="submit" value="login">
</form>-->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--直接引用django-bootstrap的方式
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}-->
    
    <!--引用本地的样式-->
    {% load static %}
    <link rel="icon" href="{% static "favicon.ico"%}">

    <title>发布会签到系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">


  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="login" method="post">
        <h2 class="form-signin-heading">发布会签到系统</h2>
        <label for="inputUsername" class="sr-only">username</label>
        <input type="text" id="username" class="form-control" placeholder="用户名" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" name="password" required>
        {{hint}}
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->

  </body>
</html>
